<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <bold_checkout_self_hosted>
                <is_enabled>0</is_enabled>
                <template_type>three_page</template_type>
                <template_url/>
            </bold_checkout_self_hosted>
        </checkout>
    </default>
</config>
