<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="bold_checkout_base">
                <field id="template_type" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1">
                    <label>Self Hosted Checkout Template Type</label>
                    <source_model>Bold\CheckoutSelfHosted\Model\Config\Source\TemplateSourceType</source_model>
                    <depends>
                        <field id="type">3</field>
                    </depends>
                </field>
                <field id="template_file" translate="label" type="file" sortOrder="18" showInDefault="1" showInWebsite="1">
                    <label>Self Hosted Checkout Template File</label>
                    <backend_model>Bold\CheckoutSelfHosted\Model\Config\Backend\File\Js</backend_model>
                    <depends>
                        <field id="type">3</field>
                    </depends>
                    <upload_dir config="system/filesystem/media" scope_info="1">bold/checkout/template</upload_dir>
                    <base_url type="media" scope_info="1">bold/checkout/template</base_url>
                    <comment><![CDATA[
                        "Three Page" template file - <strong>three_page.js</strong>.<br>
                        "One Page" template file - <strong>one_page.js</strong>.<br>
                        If no one file uploaded, standard will be used as fallback.
                    ]]></comment>
                </field>
            </group>
            <group id="bold_checkout_advanced">
                <field id="template_url" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1">
                    <label>Self Hosted Checkout Experience Templates App Url</label>
                    <validate>required-url</validate>
                    <depends>
                        <field id="checkout/bold_checkout_base/type">3</field>
                    </depends>
                    <comment><![CDATA[
                        Example: http://localhost:8080<br>
                        If this field filled up, uploaded and fallback template file will be ignored.
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
